nav {background:black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding:0% 2%;


}

ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
    list-style-type: none;

}

nav button {
background-color: transparent;
color: white;
padding: 5px;
border: 1px solid white;
width: 100px;
border-radius: 4px;

}

.section1container {
    text-align: center;
    padding-top: 90px;
    background-image: url("./img/IMG-20200518-WA0012.jpg");
    background-size: cover;
    padding:18% 0%;
    background-attachment: fixed;
}

.h1{
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 4px;
}

.h2{
 background-color:white;
 width: 100px;
    height: 60px;
    border-radius: 6px;

}


#roleimg1{
    width:100%;
    height:50%;
    padding-top: 4%;
}

#roleimg2{
    width:100%;
    height:50%;
    padding-top: 4%;
}

#roleimg3{
    width:100%;
    height:50%;
    padding-top: 4%;
}

#role{
    display: flex;
    justify-content: space-around;
}

#an{
    width: 25%;
}

#at{
    width: 25%;
}

#am{
    width: 25%;
}

#rod{
       
}

#rod h1{
    text-align: center; 
}

#rod p{
    text-align: center; 
}
#role h3{
    text-align: center;
    background-color: gainsboro;
    padding: 10px;
}

#role p{
    text-align: center;
}
